:root{
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;
  --clr-6: white;

}

div{
  background: var(--clr-1);
  color: var(--clr-6);
  padding: 20px;
  transition: transform 0.2s;

}

div:hover{
  transform: scale(1.05);
}

.container.box::before,
.container.box::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3));
  border-radius: inherit;
  animation: rotation 20s linear infinite;
  transform-origin: center;
  }





body{
  background: var(--clr-white);
  text-align: center;
  display: inline;
  margin: 0 auto;
}

.container {
  background-color: black;
  border-radius: 15px;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 10);
}

h1{
  font-size: x-large;
  text-align: center;
  color: whitesmoke;
}

input,
textarea {
  background-color: white; 
}

input::placeholder,
textarea::placeholder {
  color: black; 
}

.gender-label,
.gender-options label {
  color: white; 
}


label{
  font-size: 15px;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-top:8px;
  text-align: left;
  color: whitesmoke;
  font-weight: bold;
}

input{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  

}

textarea{
  display: block;
  width: 97%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  resize: none;
  min-height: 100px;
  max-height: 150px;
}

button{
  display: block;
  width: 30%;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 35%;
  margin-right: 35%;


  -webkit-transition: background-color 0.3s ease;
  cursor: pointer;

}

input[type="radio"]{
  display: inline;
  width: 10%;
}

select{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  background: white;
  color: black;
 
}

textarea{
  resize: none;
  width: 97%;
  min-height: 100px;
  max-height: 150px;
  
}

/*button{
  padding:10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: blue;
  width: 80px;
  font-size: 16px;
}*/

button:hover{
  background-color: #8E5CFF;
}

.dob-label{
  

}